.title-header {
    display: flex;
    align-items: center;
    padding: 16px 0px;
    gap: 65px;
    width: 1124px;
    height: 44px;
    left: 108px;
    top: 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 13px rgb(0 0 0 / 20%);
    border-radius: 12px;
}

.title-text-header {
    width: 120px;
    height: 24px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #2D66EE;
}

.menu-header {
    width: 2px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 16px;
}

.contacts-header {
    height: 18px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #2D66EE;
    margin-right: -39px;
    margin-left: -19px;
    border: 0px;
}

.my-img {
    margin-right: -39px;
    margin-left: 29px;
    width: 40px;
}

.main{}
.main-text{}

.contacts{
    display: flex;
    align-items: flex-start;
    padding: 16px 15px;
    width: 594px;
    height: 140px;
    left: 108px;
    top: 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 13px rgb(0 0 0 / 20%);
    border-radius: 12px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
}

.contacts-form{
    display: grid;
    width: 180px;
    border: 0;
}

.form-button {
     flex-direction: row;
     align-items: flex-start;
     padding: 11px 24px;
     gap: 8px;
     width: 132px;
     height: 58px;
     background: #2D66EE;
     border-radius: 8px;
     flex: none;
     order: 2;
     flex-grow: 0;
    border: 0;
 }

.h2-main {
    width: 542px;
    height: 90px;
    font-size: 30px;
    line-height: 144%;
}

h3-main {
    width: 516px;
    height: 50px;
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

p-main {
    width: 558px;
    height: 100px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
}

input {
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 159px;
    height: 22px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.development-cycle {}

.h4-devel {
    width: 402px;
    height: 70px;
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.38px;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.p-devel {
    width: 558px;
    height: 34px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
}

.ol-devel {
    list-style-type: none;
    width: 300px;
    line-height: 270%;
    padding: 0px 60px;
}

.submit{
    background-color: white;
    padding: 1px 6px;
    border-width: 0px;
    margin-right: 8px;
}

.right{}
.left{}
.project {}
.project-name1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 17px;
    gap: 18px;
    width: 207px;
    height: 176px;
    flex: none;
    order: 0;
    flex-grow: 8;
    flex-wrap: wrap;
}

.infoProduct-programm {
    max-width: 60%;
    width: 60%;
}

.infoProduct-Langue {
    width: 300px;
    height: 20px;
}
.projectPride {}
.projectPride-header {
    padding: 10px 0px;
    width: 1200px;
}

.layout{

    display: flex;
    align-items: flex-start;
    padding: 13px 0px;
    gap: 0px;
    width: 328px;
    height: 140px;
    left: 65px;
    top: -18px;
    background: #FFFFFF;
    box-shadow: 0px 2px 13px rgb(0 0 0 / 20%);
    border-radius: 12px;
    flex-direction: column;
}

.SF-Title{

margin-left: 70px;
font-size: 20px;
}
.p-applic{
    padding: 0px 16px;
    margin-block-start: 0;
}
.discus {}
.discus-text {}
.discus-form {}
.application {
    height: 575px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
}
.ol-team {
    list-style-type: none;
    width: 221px;
    line-height: 106%;
    padding: 0px 27px;
    display: flex;
}

.team {}
.team-info {}
.userContacts {}
.userContacts-form {}
.faq {height: 350px}
.FAQ {
    display: flex;
    align-items: flex-start;
    padding: 16px 15px;
    width: 343px;
    height: 42px;
    left: 176px;
    top: 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 13px rgb(0 0 0 / 20%);
    border-radius: 12px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.FAQ-2 {
    display: flex;
    padding: 0px 15px;
    width: 460px;
    height: 229px;
    left: 176px;
    top: 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 13px rgb(0 0 0 / 20%);
    border-radius: 12px;
    flex-direction: row;
    flex-wrap: wrap;
}
.faq-info {}
.basement {}
.basement-info {}